<div>
  Klienci:
  <div>
    <div *ngFor="let socket of sockets">
      <div class="socket-item">
        <div>{{ socket }}</div>
      </div>
    </div>
  </div>
</div>
<div>
  Pokoje:
  <div>
    <div *ngIf="rooms.length; else noRooms">
      <div *ngFor="let room of rooms">
        <div class="socket-item">
          <div>{{ room }}</div>
          <button (click)="joinRoomHandler(room)">Dołącz</button>
        </div>
      </div>
    </div>
    <ng-template #noRooms> Brak aktywnych pokoi </ng-template>
  </div>
</div>
<div class="container">
  <mat-form-field appearance="outline">
    <mat-label>Rola</mat-label>
    <mat-select [(ngModel)]="role">
      <mat-option value="0">Nadawca</mat-option>
      <mat-option value="1">Odbiorca</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input matInput [(ngModel)]="newRoomName" />
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="createRoom()">
    Stwórz pokój
  </button>
  <div class="container-exercise" appTracking [role]="role">
    <div
      class="cursor-marker"
      *ngIf="role === '1'"
      [ngStyle]="{
        'margin-top': cursorPos.y - 175 + 'px',
        'margin-left': cursorPos.x + 'px'
      }"
    ></div>
    <mat-form-field>
      <mat-select style="z-index: 100">
        <mat-option value="a">a</mat-option>
        <mat-option value="b">b</mat-option>
        <mat-option value="c">c</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input #input matInput (click)="focus()" placeholder="Imię">
    </mat-form-field>
  </div>
</div>
